* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    
}

.button {
    height: 100px;
    width: 300px;
    font-size: 30px;
}

#button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 350px;

}

#final {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}